.container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    padding: 20px;
  }

  /* font-family: Poppins, sans-serif; */

  .title h1 {
    background-color: #201F4B;
    width: 100vw;
    color: #DEFEA0;
    font-size: 2.3em;
    /* text-align: start; */
    padding: 45px; 
    border-radius: 0 0 20px 20px;
    font-family: 'Arial', sans-serif; 
    font-weight: 200;
    font-style: normal; 
    letter-spacing: 0.2em; 
  }
  
  .header {
    background-color: #282c34;
    color: white;
    width: 100%;
    padding: 20px;
  }

  .conteudo{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 10px;
  }
    
  .conteudo h2{
    color: #201F4B;
    margin-top: 5px;
    font-size: 27px;
  }

  .textBlock {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    opacity: 70%;
    gap: 10px;
    font-size: 25px;
  }

  .containerConteudo{
    width: 1400px;
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 90px;
    margin-left: 10%;
  }