.container {
    background-color: #fffff1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    background-color: #201F4B;
    color: #DEFEA0;
    font-size: 32px;
    padding: 50px;
    border-radius: 0 0 20px 20px;
    width: 100%;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
  }
  
  .addButton {
    background-color: transparent;
    color: #201F4B;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    align-self: center;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 60px;
  }
  
  .videoSpace {
    width: 100%;
    height: 300px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #BCB3DF;
    border-radius: 15px;
  }
  
  .textarea {
    height: 100px;
    resize: none;
  }
  
  .saveButton {
    background-color: #BCB3DF;
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 15px 90px;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    cursor: pointer;
  }