
.container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.body_redacao{
  background-color: #E4E2ED;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  height: fit-content;
}

.header {
  background-color: var(--roxo-escuro);
  color: var(--verde-claro);
  text-align: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 160px;
  font-size: 24px;
  margin-bottom: 25px;
  padding: 2rem;

}

.theme1 {
  font-size: 20px;
  margin-bottom: 30px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.theme1 p{
  padding-left: 55px;
  padding-top: 15px;
  
}

.theme-text {
  display: flex;
  padding-left: 30rem;
}

.text {
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--roxo-claro);
  width: 60rem;
  margin: 0 auto;
}


.titulo_redacao {
  width: 86%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 45px;
  background: none;
  font-size: 25px;
  font-weight: 750;
  margin-left: 75px;
}

.titulo_redacao:focus,
.textarea_redacao {
  outline: none;
  border: none;
}

.hidden-input {
  text-indent: -9999px;
  width: 200px;
}

.lineCounter{
  margin-left: 70px;
  margin-top: 20px;
}

.textarea_redacao {
  width: 100%;
  max-width: 890px;
  height: min-content !important;
  margin-top: 20px;
  padding: 35px;
  border-radius: 5px;
  font-size: 22px;
  align-items: center;
  border: none;
  resize: none;
  background: none;
  margin-left: 65px;
  background-color: #E4E2ED;
  font-family: "Poppins", sans-serif;
}


.redacao_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--roxinho);
  padding: 120px;
  margin: 30px auto;
  border-radius: 15px;
  width: 70rem;
}

.theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#line-counter {
  font-size: 1em;
  color: #333;
}

.buttonWrite {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 20px 50px;
  border-radius: 100px;
  background: var(--verde-claro);
  border: 1px solid transparent;
  font-size: 20px;
  margin-top: 20px;
  width: fit-content;
  margin-left: 400px;
  display: flex;
  margin-bottom: 1%;
  justify-content: center;  
}

.buttonWrite:hover {
  background: var(--roxo-claro);
}

.buttonWrite:active {
  transform: scale(0.95);
}

.submissionMessage {
  color: green;
  text-align: center;
  margin-top: 10px; 
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}
.redacao_area {
  flex: 2;
  margin-right: 20px; 
  margin-left: 40px;
}

.feedback_area {
  flex: 1;
  min-width: 300px; 
}

.feedbackToggle {
  cursor: pointer;
  font-size: 24px; 
  margin-left: 10px; 
  text-align: center; 
}
