.container {
  background-color: var(--background);
  height: 100vh;
}

.header {
  background-color: var(--roxo-escuro);
  color: var(--verde-claro);
  padding: 20px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 40px 20px;
  height: 100px;
  min-height: 1px;
}

.theme1 {
  font-size: 20px;
}

.theme-text {
  margin-top: 5rem;
  display: flex;
  padding-left: 50rem;
}

.text {
  padding: 10px;
  border-radius: 10px;
  border: 4px solid var(--roxo-claro);
  width: 60rem;
  margin: 0 auto;
}


.titulo_redacao {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  font-size: large;
  font-weight: 600;
}

.titulo_redacao:focus,
.textarea_redacao {
  outline: none;
  border: none;
}

.hidden-input {
  text-indent: -9999px;
  width: 200px;
}

.textarea_redacao {
  width: 100%;
  height: 550px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: none;
  resize: none;
}

.redacao_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--roxinho);
  padding: 120px;
  margin: 30px auto;
  border-radius: 15px;
  width: 70rem;
}

.theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#line-counter {
  font-size: 1em;
  color: #333;
}

.buttonWrite {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 8px 16px;
  border-radius: 100px;
  background: var(--verde-claro);
  border: 1px solid transparent;
  font-size: 18px;
  margin-top: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: 45rem;
  display: flex;
  
}

.buttonWrite:hover {
  background: var(--roxo-claro);
}

.buttonWrite:active {
  transform: scale(0.95);
}