.body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: #1A1A4B;
    position: relative;
    color: #BCB3DF;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerImage {
    margin-left: auto ; 
  }

  .rightContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 93%;
  }
  
  .subject {
    color: #C6E6A3;
    font-size: 1em;
  }

  .title {
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff; 
  }
  
  .backIcon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
  }
  
  .title {
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
  
  .userIcon {
    font-size: 24px;
  }
  
  .chatContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
    justify-content: flex-end;
    overflow-y: auto;
  }
  
  .message {
    max-width: 60%;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    padding-right: 50px;
  }
  
  .sent {
    background-color: #D1C4E9;
    align-self: flex-end;
  }
  
  .received {
    background-color: #B3C7F9;
    align-self: flex-start;
  }
  
  .time {
    font-size: 10px;
    color: #666;
    position: absolute;
    bottom: 5px;
    right: 15px;
  }

  .messageContent {
    word-wrap: break-word;
  }
  
  .footer {
    background-color: #1A1A4B;
    padding: 30px;
    display: flex;
    align-items: center;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    background-color: transparent;
    color: white;
    outline: none;
  }
  
  .sendIcon {
    font-size: 24px;
    color: #A3FFB1;
    cursor: pointer;
  }

  .deleteIcon {
    font-size: 16px; 
    color: #000000; 
    cursor: pointer; 
    position: absolute; 
    bottom: 17px; 
  }
  
  .loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garante que o contêiner ocupe toda a altura da viewport */
    background-color: var(--background); /* Opcional: cor de fundo */
  }
  