.header {
    background-color: #A0F1B5;
    padding: 45px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    position: relative;
}

.content {
    padding: 40px;
    max-width: 900px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:45px 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    width: 100%; 
}

.item:last-child {
    border-bottom: none;
}

.itemText {
    font-size: 20px;
}

.itemIcon {
    font-size: 18px;
}
