.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFFF1;
    font-family: sans-serif;
  }
  
  .header {
    background-color: #201F4B;
    padding: 3rem;
    text-align: center;
    border-radius: 0px 0px 25px 25px ;
    margin-bottom: 3rem;
    color: #C6E6A3;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0.5rem 20rem 10rem;
  }
  

  .label {
    font-size: 27px;
    font-weight: bold;
  }
  

  .box {
    background-color: #BCB3DF;
    padding: 20px;
    border-radius: 5px; 
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
  }

  .boxstyle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .button{
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
    padding: 8px 16px; 
    border-radius: 100px;
    background: var(--verde-claro);
    border: 1px solid transparent;
    font-size: 18px;  
    margin-top: 20px;
    width: fit-content;  
    margin-left: auto;
  }
  
  .button:hover {
    background: var(--roxo-claro);
  }
  
  .button:active {
    transform: scale(0.95);
  }