.container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .left-side {
    width: 30%;
    background-color: var(--roxo-escuro); 
    color: var(--verde-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .provest {
    font-size: 48px;
    font-style: italic;
    color: var(--verde-claro);
    margin-bottom: 60px;
  }
  
  .illustration {
    width: 80%;
    max-width: 300px;
  }
  
  .right-side {
    width: 65%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
  }
  
  .welcome h1 {
    font-size: 46px;
    color: black;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
  }
  
  .login-form {
    background-color: var(--background);
    padding: 40px;
    border-radius: 15px;
    width: calc(720px + 35vh);
    display: flex;
    flex-direction: column;
    align-items: center; 
  
  }
  
  .login-form h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: start;
    color: #333;
    font-weight: 300;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 500px;
    padding: 15px;
    border: 1px solid var(--lilas);
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--background);
    color: #333;
    box-sizing: border-box;
  }
  
  .form-group input::placeholder {
    color: var(--lilas);
  }
  
  .button-container {
    display: flex;
    justify-content: center; 
    width: 100%;
  }
  
  .btn-login {
    width: 350px; /* Largura fixa do botão */
    padding: 15px;
    background-color: var(--lilas);
    border-radius: 25px;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .btn-login:hover {
    background-color: var(--lilas);
  }
  
  .custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer; 
  }
  
  .custom-checkbox input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox .checkmark {
    width: 16px;
    height: 16px;
    background-color: var(--lilas);;
    border-radius: 50%;
    margin-right: 8px;
    position: relative; 
    cursor: pointer; 
    transition: background-color 0.2s ease;
  }
  
  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: var(--lilas); 
  }
  
  .custom-checkbox input[type="checkbox"]:checked + .checkmark:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px; 
    height: 10px;
    background-color: var(--background);
    border-radius: 50%;
  }
  
  .create-account {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;   
  }
  
  .create-account a {
    color: var(--cinza);
    text-decoration: none;
    font-size: 24px;      
    margin-bottom: 5px;  
  }
  
  .create-account a:hover {
    text-decoration: underline; 
  }
  
  .custom-horizontal-line {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    border-top: 1px solid var(--verde-escuro); 
    width: 545px; 
    margin: 20px auto; 
  }
  
  
  