:root {
  --background: #FFFFF1;
  --verde-claro: #C6E6A3;
  --roxo-claro: #D4A4E2;
  --roxo-escuro: #201F4B;
  --lilas: #BCB3DF;
  --cinza: #000000b6;
  --verde-escuro: #0A8365;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FFFFF1;
    --verde-claro: #C6E6A3;
    --roxo-claro: #D4A4E2;
    --roxo-escuro: #201F4B;
    --lilas: #BCB3DF;
  
  }
}

html,
body {
  max-width: 100vw;
 overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.tamara{
  position: fixed;
  inset: 0;
  pointer-events: none;
  padding: 10vh;
  margin: 0 auto;
}