  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 10px;
    text-align: center;
    color: var(--verde-claro);
    background-color: var(--roxo-escuro);
  }

  .pro{
    background-color: var(--roxo-escuro);
  }
  
  .container-text {
  font-size: 36px;
  }

  .image {
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
   
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 24px;
    color: black;
    background-color: var(--lilas);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
   
  }

  .button:hover {
    background-color: var(--verde-claro);
    color: var(--roxo-escuro);
  }

  
  