.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.leftSide {
  width: 30%;
  background-color: var(--roxo-escuro); 
  color: var(--verde-claro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title {
  font-size: 64px;
  margin-bottom: 40px;
  font-style: italic;
}

.imageContainer {
  width: 70%;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.rightSide {
  width: 70%;
  background-color:var(--background); 
  color: #333; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.message {
  font-size: calc(32px + 1.2vw);
  text-align: center;
  margin-bottom: 30px;
  width: 80%;
  display: flex;
  padding-bottom: 130px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.button {
  padding: 20px 150px;
  border: 2px solid var(--roxo-claro);
  border-radius: 20px;
  background-color: transparent;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: var(--roxo-claro);
  color: #fff;
}

.backButton {
  margin-top: 20px;
  padding: 20px 110px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.backButton:hover {
  background-color: #888;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftSide,
  .rightSide {
    width: 100%;
    height: 50vh;
  }

  .buttonsContainer {
    flex-direction: column;
    width: 100%;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .message {
    font-size: 1.2rem;
  }
}
