
.header {
    display: flex;
    padding: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* NOME DA PROVA */
.event {
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* MES DA PROVA */
.eventDate {
    font-weight: 100;
    display: flex;
    font-size: 26px;
} 

/* COISAS DENTRO DA BORDA ROXA */
.eventTitle {
    display: flex;
    align-items: center;
    width: 450px;
    gap: 25px;
    border: 2px solid #D4A4E2;
    padding: 20px;
    border-radius: 10px;
}

/* DIA DA PROVA  - 20*/
.day {
    font-size: 32px;
    font-weight: 100;
}

/* MES DA PROVA - OUT */
.month {
    font-weight: 100;
    font-size: 23px; 
}

.eventTitle {
    font-size: 30px;
}

.subjects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subjectList {
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 0px 0px;
    flex-direction: column;
    width: 48%;
    gap: 6px;
}

.subjectList:first-child .subject {
    border-radius: 0px 35px 35px 0px; 
}

.subject {
    padding: 35px;
    border-radius: 35px 0px 0px 35px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin: 0px;
}

.buttonColumn {
    display: flex;
    flex-direction: column; 
    width: 30%;
}

.subject:hover {
    background-color: #6a1b9a;
    transform: translateY(-2px); 
}

/* Estilo para o botão de voltar */
.backButton {
    position: absolute; /* Posicionamento fixo ou absoluto */
    top: 20px; /* Ajuste a posição conforme necessário */
    left: 20px; /* Ajuste a distância da esquerda */
    z-index: 1000; /* Coloca o botão acima de outros elementos */
    font-size: 2rem; /* Ajuste o tamanho da seta */
    color: #000; /* Cor da seta */
    background: none; /* Sem fundo */
    border: none; /* Sem borda */
    cursor: pointer; /* Mão ao passar o mouse */
  }
  
  .backButton:hover {
    color: #007bff; /* Altere a cor ao passar o mouse */
  }
  