.body {
    font-family: Arial, sans-serif;
}

/* .container {
    padding: auto;
} */

.header {
    display: flex;
    padding: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* SETA */
.backArrow {
    position: absolute;
    left: 0;
    cursor: pointer;
    font-size: 40px;
    padding: 40px;
}

/* NOME DA PROVA */
.event {
    font-weight: bold;

    display: flex;
    align-items: center;
}

/* MES DA PROVA */
.eventDate {
    font-weight: 100;
    display: flex;
    font-size: 26px;
} 

/* COISAS DENTRO DA BORDA ROXA */
.eventTitle {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid #D4A4E2;
    padding: 10px;
    border-radius: 10px;
}

/* DIA DA PROVA  - 20*/
.day {
    font-size: 26px;
    font-weight: 100;
}

/* MES DA PROVA - OUT */
.month {
    font-weight: 100;
    font-size: 16px; 
}

.eventTitle {
    font-size: 23px;
}

.subjects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subjectList {
    display: flex;
    margin: 0;
    justify-content: space-between;
    flex-direction: column;
    width: 48%;
}

.subject {
    padding: 30px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    text-align: left;
    margin: 3px;
}

.buttonColumn {
    display: flex;
    flex-direction: column; 
    width: 48%;
}

.subject:hover {
    background-color: #6a1b9a;
    transform: translateY(-2px); 
}