
.body {
    font-family: 'Arial', sans-serif;
    background-color: #fdfcf5;
    margin: 0;
    padding: 20px;
}
.header {
    background-color: #b56565;
    color: white;
    padding: 14px 490px;
    margin-top: 29px;
    font-size: 29px;
    width: fit-content;
    border-radius: 5px;
}

.content {
    margin-top: 20px;
    padding: 60px;
    width: 2100px;
    font-size: 28px;
}

.intro {
    background-color: #f0f0f5;
    padding: 60px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 250px;
}

.title{
margin-bottom: 20px;
margin-top: 90px;
font-size: 40px;
font-weight: bold;
}

.question {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 68px;
}

.options {
    margin-top: 10px;
}

.options p {
    margin: 30px 0;
}

.buttonContainer {
    margin-top: 60px;
    text-align: center;
}

.button {
    background-color: #b56565;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 550px;
}
