.digital-notebook-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #DEFEA0;
    background-color: #f0f0f0;
  }
  
  .header {
    width: 1920px;
    height: 90px;
    background-color: #201F4B;
    border: 1px solid #C6E6A3;
    border-radius: 10px 10px 0 0;
    padding: 40px;
    text-align: center;
    font-size: 30px;
  }
  
  .headerText {
    font-size: 24px;
    font-weight: bold;
  }
  
  .notebook-container {
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border: 2px solid #D4A4E2;
    border-radius: 10px;
    padding: 40px;
  }
  
  .notebook-header {
    margin-bottom: 20px;
    align-items: center;
  }
  
  .titleCaderno {
    width: 100%;
    padding: 30px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
  }
  
  .notebook {
    margin-bottom: 20px;
  }
  
  .notebook-textarea {
    width: 100%;
    height: 400px;
    padding: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border: none;
    outline: none;
    resize: none;
  }
  
  .notebook-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 53%;
  }
  
  .save-button {
    background-color: #E4E2ED;
    color: #201F4B;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .right-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .new-annotation-button {
    background-color: #E4E2ED;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .favorite-button {
    background-color: #E4E2ED;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }