.profile-page {
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #000; 
  }
  
  .header {
    background-color: #201F4B;
    width: 100%;
    height: 30vh;
    color: #DEFEA0;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .profile-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .save-button {
    background-color: #BCB3DF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #a8a1c2;
  }
  