.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  width: 80vw;
  padding: 45px; 

}

.title {
  background-color: var(--roxo-escuro);
  width: 100vw;
  color: var(--verde-claro);
  font-size: 2em;
  text-align: center;
  font-weight: 300; 
  padding: 45px; 
  border-radius: 0 0 32px 32px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  border: 2px solid var(--lilas);
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: transparent;
}

.selectContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}


.arrow {
  font-size: 1.5em;
}

.infoBox {
  background-color: var(--background);
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
  font-size: 22px;
}

.infoBox h2, .footer{
  text-align: center;
}

.subtitle {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.competencias {
  list-style-type: none;
  padding: 0;
}

.competencias li {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: justify;
}

.select {
  padding: 10px 15px;
  background-color: var(--background);
  border: 5px solid var(--lilas);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--roxo-escuro); 
  width: 100%;
  border-radius: 12px;
}

.selected {
  padding: 10px;
  background-color: var(--background);
  border: 3px solid var(--lilas);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.arrow {
  margin-left: 10px;
  fill: var(--lilas);
  transform: rotate(90deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1000;
  width: 100%;
  gap: 4px;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  padding: 10px;
  cursor: pointer;
  color: var(--roxo-escuro);
}
.option:hover {
  background-color: var(--roxo-claro);
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}

.buttonWrite {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 8px 16px; 
  border-radius: 100px;
  background: var(--verde-claro);
  border: 1px solid transparent;
  font-size: 18px;  
  margin-top: 20px;
  width: fit-content;  
  margin-left: auto;
}

.buttonWrite:hover {
  background: var(--roxo-claro);
}

.buttonWrite:active {
  transform: scale(0.95);
}
