@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFF1;
  font-family: 'Poppins', sans-serif;
}

.content {
  width: 80vw;
  padding: 45px;
}

.title {
  background-color: #201F4B;
  width: 100vw;
  color: #DEFEA0;
  font-size: 2em;
  text-align: center;
  font-weight: 300; 
  padding: 45px; 
  border-radius: 0 0 32px 32px;
  font-family: 'Poppins', sans-serif;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  border: 2px solid #e1bee7;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

.arrow {
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.infoBox {
  background-color: #E4E2ED;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.infoBox h2, .footer{
  text-align: center;
}

.subtitle {
  font-size: 1.8em;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.competencias {
  list-style-type: none;
  padding: 0;
}

.competencias li {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: justify;
}

.navButton {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  background-color: var(--roxo-claro);
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--roxo-escuro);
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: var(--roxo-claro);
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: var(--roxo-claro);
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}
