body {
    font-family: 'Arial', sans-serif;
    background-color: #fdfcf5;
}

.container {
    padding: 300px;
    margin-top: -275px;
}

.header {
    justify-content: space-between;
    padding: 30px;
}

.header .search-bar {
    margin: 0 400px;
}

/* BARRA DE PESQUISA */
.header .search-bar input {
    width: 100%;
    padding: 23px;
    border-radius: 40px;
    background-color: #BCB3DF;
    opacity: 50%; 
    border: none;
    padding-left: 40px;
}

/* DASHBORAD */
.dashboard-title {
    font-size: 43px;
    font-weight: bolder;
    color: #d4a5e6;
    margin: 10px;
}

.cards {
    display: flex;
    gap:40px;
}

.card {
    background-color: #fdfcf5;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    height: 380px;
    width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 50px 25px;
    gap: 10px;
}

.card .title1 {
    font-size: 35px;
    color: #2c2c54;
    margin-bottom: 10px;
    text-align: left;
    width: 10%
}

.card .underline {
    height: 2px;
    width: 200px;
    background-color: #d4a5e6;
}

.card:nth-child(1) .underline {
    background-color: #a8e6cf;
}

.card:nth-child(3) .underline {
    background-color: #a8e6cf;
}

.calendar {
    margin-top: 40px;
}

.calendar-title {
    font-size: 43px;
    color: #2c2c54;
    margin-bottom: 10px;
}

.calendar-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fdfcf5;
    margin-bottom: 30px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1);
}

.calendar-item .date {
    background-color: #fdfcf5;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin-right: 60px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.calendar-item .date .day {
    font-size: 30px;
    color: #2c2c54;
}

.calendar-item .date .month {
    font-size: 20px;
    color: #2c2c54;
}

.calendar-item .event {
    flex-grow: 1;
    font-size: 30px;
    color: #2c2c54;
}

.calendar-item {
    color: #2c2c54;
}

.notification-icon {
    position: fixed;
    top: 20px; 
    right: -140px; 
    width: 270px;
    padding: 15px;
    z-index: 1000; 
}

/* CONFIGURAÇÃO DAS COISAS DE DENTRO DA BARRA */
.barrinha {
    font-size: 15px; /* BEM-VINDO CELSO */
    color: #000000;
    height: 100vh;
    margin-top: 50px;
    padding: 40px;
  }

  /* CONFIGURAÇÕES DA BARRA */
  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 510px;
    height: 100%;
    background-color: #FFFFF1; 
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.side-menu.active {
    transform: translateX(0);
}

.header .menu-icon {
    cursor: pointer;
}

/* SOMBRA DE FUNDO */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 900; 
}

/* TIRA AS BOLINHAS DA LISTA */
.menu-list {
    list-style-type: none;
}

/* AS CAIXAS ROXINHAS */
.menu-item {
    background-color: #E4E2ED;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: left;
    transition: background-color 0.3s ease;
}

/* TEXTO DENTRO DAS CAIXAS ROXAS */
.menu-item a {
    color: #2c2c54;
    font-size: 23px;
    margin-left: 40px;
}

.menu-item:hover {
    background-color: #D1CEDB;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-top: -40px;
    gap: 30px; /* espaçamento entre o perfil e o bem vindo*/
    margin-bottom: 30px; /* espaçamento entre o celso e as ci=aixas roxas*/
}

/* TODOS OS ICONES DAAIXAS ROXAS */
.menu-icon {
    width: 30px; 
    height: auto;
    margin-right: 8px; 
    margin-left: -30px;
    vertical-align: middle; 
}

/* ICONE DAS MATERIAS */
.menu-item:nth-child(7) .menu-icon {
    width: 20px;
}

/* ICONE DAS REDAÇOES */
.menu-item:nth-child(8) .menu-icon {
    width: 40px;
    margin-left: -40px;
}

.button-container {
    display: flex;
    margin-top: 40px;
}

.back-button {
    background-color: transparent;
    border: none;
    color: red; 
    display: flex;
    margin-top: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    gap: 30px; /* espaçamento da seta com o logout */
}

.button-container {
    display: flex;
    align-items: center;
}

.logo-image {
    margin-left: auto;
    margin-top: 20px;
}


 /* >>>>>>>>>>>>>> notificações <<<<<<<<<<<<< */

/* TIRA AS BOLINHAS DA LISTA */
.menu-notificacoes {
    list-style-type: none;
}

/* CONFIGURAÇÃO DAS COISAS DE DENTRO DA BARRA */
.barra-azul {
    font-size: 15px; 
    height: 100vh;
    margin-top: 50px;
    padding: 40px;
  }

  /* CONFIGURAÇÕES DA BARRA */
  .side-notif {
    position: fixed;
    top: 0;
    left: 0;
    width: 510px;
    height: 100%;
    background-color: #1C274C; 
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.side-menu.active {
    transform: translateX(0);
}

.notification-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

.notifications {
    position: absolute;
    top: 50px; 
    right: 20px; 
    width: 300px;
    background-color: #1C274C;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.barra-branca {
    background-color: #FFFFF1;
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.notif-item {
    padding: 10px;
    color: white;
    border-bottom: 1px solid #eee;
}

.notif-item a:hover {
    color: #C6E6A3;
}