/* Container geral */
.container {
  margin: 0;
  padding: 0;
  background-color: #fffff1;
}

/* Topo com os ícones */
.topIcons {
  display: flex;
  justify-content: flex-end;
  width: 86%;
  gap: 45px;
  padding: 70px;
  margin-bottom: 20px;
}

/* Imagem dos ícones */
.iconImage {
  width: 40px;
  height: 40px;
}

/* Estilo do conteúdo da página */
.content {
  font-size: 25px;
  padding: 20px;
  color: #2e265e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Seção de Anotações */
.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}

.notesContainer {
  max-width: 1400px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notesContainer h2 {
  align-self: flex-start;
  margin-bottom: 50px;
}

/* Estilo para cada anotação */
.note {
  border: 5px solid #2e265e;
  border-radius: 30px;
  gap: 5px;
  width: calc(50% - 40px);
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/* Caixa de data de cada anotação */
.dateBox {
  border: 3px solid #d3bce3;
  border-radius: 10px;
  text-align: center;
  width: 25%;       
}


/* Estilo do dia e do mês */
.day,
.month {
  color: var(--verde-claro);
}

.day {
  font-size: 10px;
}

.month {
  font-size: 18px;
}

/* Descrição da anotação */
.description {
  font-size: 24px;
  color: #2e265e;
  margin-left: 20px;
}

/* Estilo do Calendário */
.calendarModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 560px;
  height: 100%;
  background-color: #2c2f40;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
}

.calendarBody {
  margin-top: 30px;
}

/* Botão de alternar calendário */
.toggleButton {
  position: absolute;
  top: 20px;
  right: -50px;
  width: 40px;
  height: 40px;
  border: none;
  background: #2e265e;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
}

/* Estilo do corpo do Calendário */
.calendar {
  padding: 20px;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  color: var(--verde-claro);
  margin-bottom: 10px;
}

.year {
  font-weight: bold;
}

.calendarBody {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding-top: 35px;
}

.day,
.date {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.date {
  border-radius: 100%;
  background: #3e3a6a;
  color: white;
}

.date.today {
  background: var(--verde-claro);
  color: #2e265e;
}

/* Anotações */
.notesSection {
  flex: 1;
  margin-left: 320px; /* Espaço para o calendário */
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #2e265e;
}

.icons span {
  margin: 0 10px;
  cursor: pointer;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--roxo-escuro);
  padding: 10px;
  border-radius: 10px;
  background: transparent;
}

.date {
  font-weight: bold;
  font-size: 16px;
  color: var(--lilas);
}
