.container {
    margin: 0;
    padding: 0;
    background-color: #fffff1;
  }

  .topIcons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1668px;
    gap: 25px;
    padding: 30px;
    margin-bottom: 20px;
  }
  
  .topIcons .button {
    color: #2E265E;
    font-size: 60px;
    cursor: pointer;
    text-decoration: none; 
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .iconImage {
    width: 30px; 
    height: 30px;
  }

  .content {
    font-size: 25px;
    padding: 10px;
    color: #2E265E;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .notes {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
  }

  .notesContainer {
    max-width: 1400px; 
    margin-left: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.notesContainer h2 {
  align-self: flex-start;
  margin-bottom: 20px;
}

  .note {
    border: 2px solid #2E265E;
    border-radius: 10px;
    padding: 25px;
    gap: 5px;
    width: calc(50% - 40px);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none; 
  }
  
  .dateBox {
    border: 2px solid #D3BCE3;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 70px;
  }
  
  .day {
    font-size: 24px;
    color: #2E265E;
  }
  
  .month {
    font-size: 18px;
    color: #2E265E;
  }
  
  .description {
    font-size: 24px;
    color: #2E265E;
    margin-left: 20px;
  }
  


  