.feedbackContainer {
    padding: 15px;
    width: 185%;
    background-color: #201F4B;
    border-radius: 8px;
}

.theme {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.themeText {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 100;
    color: #DEFEA0;
}

.scoreBox {
    padding: 20px;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

.finalScore {
    font-size: 1.5rem;
    color: #DEFEA0;
    margin-top: 20px;
    text-align: center;
}

.scoreValue {
    font-weight: 100;
    color: #DEFEA0;
}