.left-side {
    width: 30%; 
    height: 100vh;
    background-color: var(--roxo-escuro); 
    color: var(--verde-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
}

.provest {
    font-size: 48px;
    font-style: italic;
    color: var(--verde-claro);
    margin-bottom: 60px;
}

.illustration {
    width: 80%; 
    max-width: 300px;
}
